<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
    <h1>Covid 19 District Details</h1>
    <div th:switch="${districts}" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 th:case="null">No District yet!</h2>
                <div th:case="*">
                    <h2>Districts</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total No of Cases</th>
                                <th>Total No of active cases</th>
                                <th>Total No of Recovered</th>
                                <th>Total No of Dead People</th>
                                <th>Total First Dose Completed</th>
                                <th>Total Second Dose Completed</th>
                                <th>Total No of Beds</th>
                                <th>Total No of Hospitals</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="district : ${districts}">
                                <td th:text="${district.name}"></td>
                                <td th:text="${district.totalNoOfCases}"></td>
                                <td th:text="${district.totalNoOfActiveCases}"></td>
                                <td th:text="${district.recovered}"></td>
                                <td th:text="${district.dead}"></td>
                                <td th:text="${district.firstDoseCompleted}"></td>
                                <td th:text="${district.secondDoseCompleted}"></td>
                                <td th:text="${district.totalNoOfBeds}"></td>
                                <td><a th:href="@{/hospital/{id}(id=${district.id})}"><span th:text="${district.noOfHospitals}"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>