<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
    <h1>Covid 19 Hospital Details</h1>
    <div th:switch="${hospitals}" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 th:case="null">No Hospitals yet!</h2>
                <div th:case="*">
                    <h2>Hospitals</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total No of Beds</th>
                                <th>District Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hospital : ${hospitals}">
                                <td th:text="${hospital.name}"></td>
                                <td th:text="${hospital.noOfBeds}"></td>
                                <td th:text="${hospital.districtName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>