<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
    <h1>India Covid 19 Status</h1>
    <div th:switch="${tracker}" class="container">
        <p>Total No of Cases: <span th:text=${tracker.totalNoOfCases}></span></p>
        <p>Total No of Active Cases: <span th:text=${tracker.totalNoOfActiveCases}></span></p>
        <p>Total No of Recovered People: <span th:text=${tracker.recovered}></span></p>
        <p>Total No of Deceased: <span th:text=${tracker.dead}></span></p>
        <p><a href="/state" class="btn btn-primary">State View</a></p>
    </div>
</body>
</html>